  
  <h1>Number: {{this.number}}</h1>
  <button type="button" {{on "click" this.addNumber}}>Add Number</button>
  <LinkTo @route="item" @model="1" class="product">
    <Product::Image @src={{"\assets\images\beats-solo-red.png"}}/>
    <Product::Details @color={{"red"}}/>
  </LinkTo>